
.sider{
    display: flex;
    height: 100vh !important;
    width: 10% !important;
    
}

/* Vistas contratos */
#tabla{
    margin-top: 5%;

}

.resultados{
    display:flex;
    justify-content: center;
}

.main-contrato
{
    max-width: 100% !important;
}

#resumen-contratos
{
  background: linear-gradient(135deg,#ffffff, #f8fbff);
  border-Left: 6px solid #22c55e;
}
#revicion-contratos{
    border-left: 6px solid #22c55e;
    background: #ffffff;
}


/* Vistas Login */
.login{
    background-color:white;
    width: 40%;
    height: 35%;
    padding: 10px;
    margin: 10% auto 0 auto;
    margin-left: 30%;
    position: fixed;
    border-radius: 20px;
    box-shadow: .5px .5px 2px black;

    
}

.sider + div { min-width: 0; flex: 1 1 auto; }
/* Vista unidades */
